@model DayCare.Models.Child

@{
    ViewBag.Title = "Successfull";
}
<h2>Application Complete</h2>
<p>Thanks for your Applying! You will get an email on the to make a payment once the application has been Approved.</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
